* {
  font-family: Helvetica;
  color: #222;
  font-size: 14px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background: #F8F8F8;
}

.summary_flex {
  display: flex;
}

.summary_graphic {
  float:left;
  flex: 1;
  padding: 10px;
}
.summary_body {
  float:left;
  flex: 2;
  padding: 10px;
}
.summary_img {
  width: 100%;
  height: auto;
}
.summary_match_list_item {
  margin: 5px 0;
}
.summary_responses_popup {
  position: absolute;
  display: none;
  top: 50px;
  left: 50%;
  width: 350px;
  z-index: 2;
  background: #aaa;
  padding: 10px;
}

.selection_rect {
  border-style: outset;
  border-width: 6px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: 150%;
}

.selection_rect.selected {
  border-style:inset;
  background: #aaa;
}

.selection_flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(auto, auto);
  justify-content: flex-start;
  align-items: center;
  grid-gap: 5px;
/*  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
*/}

.container-fixed {
  width: 800px;
  height: auto;
  background: #FFF;
}
