* {
    font-family: Helvetica;
    color: #444;
    font-size: 16px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background: #F8F8F8;
}

.summary_flex {
    display: flex;
}

.summary_graphic {
    float:left;
    flex: 1;
    padding: 10px;
}
.summary_body {
    float:left;
    flex: 2;
    padding: 10px;
}
.summary_img {
    width: 100%;
    height: auto;
}
.summary_match_list_item {
    margin: 5px 0;
}
.summary_responses_popup {
    position: absolute;
    display: none;
    top: 50px;
    left: 50%;
    width: 350px;
    z-index: 2;
    background: #aaa;
    padding: 10px;
}

.selection_rect {
    border-style: outset;
    border-width: 6px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 150%;
}

.selection_rect.selected {
    border-style:inset;
    background: #aaa;
}

.selection_flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(auto, auto);
    justify-content: flex-start;
    align-items: center;
    grid-gap: 5px;
/*  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
*/}

.container-fixed {
    width: 800px;
    height: auto;
    background: #FFF;
}

.bodymap_frame_left, .bodymap_frame_right, .bodymap_color_frame_left, .bodymap_color_frame_right {
  width: 300px;
  height: 100%;
  position: absolute;
}

.bodymap_img, .bodymap_color_bg_img, .bodymap_color_img {
  position: absolute;
  left: 0px;
  width: 150px;
}

.bodymap_color_bg_img {
  z-index: 1;
}
.bodymap_color_img {
  z-index: 2;
}

.bodymap_color_fwd_frame_left, .bodymap_color_fwd_frame_right, .bodymap_color_fwd_frame_center {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 40px;
}

.bodymap_frame_left, .bodymap_color_frame_left, .bodymap_color_fwd_frame_left {
  left: 0px;
}

.bodymap_frame_right, .bodymap_color_frame_right, .bodymap_color_fwd_frame_center {
  left: 300px;
}

.bodymap_color_fwd_frame_right {
  left: 600px;
}

.bodymap_color_head {
  clip-path: circle(12% at 50% 6%);
}

.bodymap_color_neck {
  clip-path: polygon(25% 12%, 42% 15%, 58% 15%, 75% 12%, 75% 15%, 70% 16%, 60% 17%, 40% 17%, 30% 16%, 25% 15%);
}

.bodymap_color_chest {
  clip-path: polygon(16% 18%, 40% 15%, 60% 15%, 84% 18%, 77% 36%, 25% 36%);
}

.bodymap_color_arms {
  clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 22% 0, 80% 0, 79% 100%, 23% 100%, 23% 100%, 100% 100%, 100% 0%);
}

.bodymap_color_belly {
  clip-path: ellipse(33% 9% at 50% 43%);
}

.bodymap_color_legs {
  clip-path: polygon(20% 45%, 50% 51%, 83% 44%, 73% 100%, 25% 100%);
}

.bodymap_color_scale_img {
  position: absolute;
  width: 110px;
  left: 170px;
  top: 30px;
}
/*
.bodymap_frame_left, .bodymap_frame_right {
    width: 300px;
    height: 100%;
    position: absolute;
}

.bodymap_frame_left {
    left: 0px;
}

.bodymap_frame_right {
    left: 300px;
    text-align: left;
}

.bodymap_img {
    width: 150px;
}

.bodymap_color_fwd_frame_left, .bodymap_color_fwd_frame_right {
    position: absolute;
    width: 300px;
    height: 100%;
    top: 40px;
}

.bodymap_color_frame_left, .bodymap_color_frame_right {
    position: absolute;
    width: 300px;
    height: 100%;
}

.bodymap_color_frame_left, .bodymap_color_fwd_frame_left {
    left: 0px;
}

.bodymap_color_frame_right, .bodymap_color_fwd_frame_right {
    left: 300px;
}

.bodymap_color_img {
    position: absolute;
    left: 0px;
    width: 120px;
    z-index: 2;
}

.bodymap_color_bg_img {
    position: absolute;
    left: 0px;
    width: 120px;
    z-index: 1;
}

.bodymap_color_scale_img {
    position: absolute;
    width: 110px;
    left: 130px;
    top: 30px;
}
*/
.bodymap_color_body_link {
    text-decoration: underline;
    color: blue;
}

.bodymap_canvas_bg, .bodymap_canvas_img {
    width: 175px;
    height: 597px;
}

.bodymap_canvas_head {
    width: 62px;
    height: 80px;
    x: 57px;
    y: 3px;
    rx: 22px;
    ry: 40px;
}

.bodymap_canvas_neck {
    width: 35px;
    height: 23px;
    x: 70px;
    y: 75px;
    rx: 15px;
    ry: 7px;
}

.bodymap_color_fwd_title {
  text-align: center;
}

.bodymap_color_fwd_scale {
  position: absolute;
  width: 110px;
  top: 200px;
  left: 50px;
}

.bodymap_color_fwd_frame_left polygon, .bodymap_color_fwd_frame_right polygon, .bodymap_color_fwd_frame_left rect, .bodymap_color_fwd_frame_right rect {
    stroke-width: 2;
    stroke: gray;
}

.bodymap_canvas_belly {
  width: 100px;
  height: 85px;
  x: 38px;
  y: 225px;
  rx: 45px;
  ry: 40px;
}

.listbody-note-visible {
    display: inline;
    font-weight: bold;
}

.listbody-note-hidden {
    display: none;
}